.LookupContainer {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.LookupContainer input, .LookupContainer button {
    display: flex;
    height: 40px;
    box-sizing: border-box;
}

.LookupContainer input {
    width: 80%;
}

.LookupContainer button {
    width: 20%;
    background-color: blue;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 12pt;
}

@media only screen and (max-width: 768px) {
    .LookupContainer input {
        width: 70%;
    }
    
    .LookupContainer button {
        width: 30%;
    }
}