.Home__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home__Wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.Instaslider__Container {
    width: 100%;
    background-color: red;
}