.Slider__Container {
    width: 100%;
}

.Slider__Wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image {
    width: 60%;
    max-width: 400px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Image img {
    width: 100%;
}

.Button {
    background-color: black;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}

.Button:hover {
    background-color: gray;
}