.Container {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 50px;
}

.Wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
}

.Wrapper ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Wrapper ul li {
    margin-right: 20px;
}

.Wrapper ul li a{
    text-decoration: none;
    color: #FFF;
}

